Screen {
    layout: horizontal;
    overflow: hidden;
}

#sidebar {
    width: 40;
    height: 100%;
<<<<<<< HEAD
    border-right: thick solid #00ff00;
=======
    border-right: solid red;
>>>>>>> d09c9951e8da5376902e1c82033bddcd1b108d1b
    transition: offset 500ms in_out_sine;
    background: black;
    overflow: hidden;
}

#sidebar.-hidden {
    offset-x: -100%;
}

#main-pane {
    width: 1fr;
    height: 100%;
}

#details {
    padding: 1;
    height: 1fr;
    content-align: center middle;
}